{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/drawers

    Boost drawer template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * courseindexopen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "courseindexopen": true,
        "navdraweropen": false,
        "blockdraweropen": true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false,
        "addblockbutton": ""
    }
}}
{{> theme_moove/head }}

<!-- OWL CAROUSEL -->
<link href="https://www.tiaschools.online/theme/moove/css/owl.carousel.min.css" rel="stylesheet">
<link href="https://www.tiaschools.online/theme/moove/css/owl.theme.default.min.css" rel="stylesheet">

<!-- LIGHTBOX -->
<link rel=" stylesheet" href="https://www.tiaschools.online/theme/moove/css/lightbox.css">

<!--Style CSS file-->
<!-- <link rel=" stylesheet" href="https://www.tiaschools.online/theme/moove/css/style.css"> -->

<link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>



<style>

/* --------------------------------------
  1. GLOBAL STYLES
-----------------------------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/*------ width < 75em ------*/
@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

/*------ width < 61.94em ------*/
@media only screen and (max-width: 61.94em) {
    html {
        font-size: 53.13%;
    }
}

/*------ width < 48em ------*/
@media only screen and (max-width: 48em) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: #353434;
    font-size: 1.6rem;
    background-color: #fff;
    line-height: 1.6;
    letter-spacing: .08rem;
    font-weight: 400;
}

.heading-primary {
    font-size: 4.8rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.heading-secondary {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 2rem 0;
    font-family: 'kreon', sans-serif;
}

.heading-tertiary {
    font-size: 2.2rem;
    font-weight: 700;
    font-family: 'Basic', sans-serif;
}

p {
    font-family: 'Basic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #494848;
    line-height: 1.8;
    margin: 1rem 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #353434;
}

button,
button:hover,
button:focus,
button:active {
    text-decoration: none;
    outline: none;
}

.padding {
    padding-top: 10 0px 0;
    position: relative;
}

/*------------ PRELOADER --------*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
}

.no-js #loader-wrapper {
    display: none;
}

#loader {
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: .2rem solid transparent;
    border-color: #1B2732;
    z-index: 1000;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#loader:before {
    content: "";
    position: absolute;
    top: .8rem;
    left: .8rem;
    right: .8rem;
    bottom: .8rem;
    border-radius: 50%;
    border: .2rem solid transparent;
    border-color: #1B2732;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#loader:after {
    content: "";
    position: absolute;
    top: .6rem;
    left: .6rem;
    right: .6rem;
    bottom: .6rem;
    border-radius: 50%;
    border: .6rem solid transparent;
    border-top-color: #f6eb14;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    -o-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/*----------------- BUTTON STYLE----------------- */
.button:link,
.button:visited {
    margin: 10px auto 0;
    padding: 14px 15px;
    color: #353434;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: .2rem;
    -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-hover:link:after,
.btn-hover:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 51%;
    top: 50%;
    width: 100%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

.btn-hover:link:hover,
.btn-hover:visited:hover {
    color: #FFF;
    text-shadow: none;
}

.btn-hover:link:hover:after,
.btn-hover:visited:hover:after {
    height: 100%;
}

.btn-hover:link,
.btn-hover:visited {
    position: relative;
    margin: 10px auto 0;
    padding: 14px 15px;
    color: #353434;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: .2rem;
    -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-hover.btn-fill {
    border: 2px solid #f6eb14;
}

.btn-hover.btn-fill:after {
    background: #f6eb14;
    opacity: .5;
    -moz-transform: translateX(-51%) translateY(-51%);
    -ms-transform: translateX(-51%) translateY(-51%);
    -webkit-transform: translateX(-51%) translateY(-51%);
    transform: translateX(-51%) translateY(-51%);
}

.btn-hover.btn-fill:hover:after {
    height: 100%;
    opacity: 1;
}

/*------ Scroll to Top------- */
#scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: none;
    z-index: 9;
    background: #f6eb14;
    color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
}

#scroll-to-top i {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

#scroll-to-top:hover {
    background: #fff;
    color: #f6eb14;
    transform: scale(1.2);
}

/* --------------------------------------
  5. feature-marketing
-----------------------------------------*/
.feature-marketing {
    padding: 110px 0 120px;
    position: relative
}

.feature-marketing .choose-item {
    margin: .5rem;
    padding: 20px 35px;
    background: #fff;
}

.feature-marketing .feature-marketing_title {
    margin-top: 50px;
    padding: 20px;
}

.feature-marketing-cont {
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

.feature-marketing .choose-item {
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    position: relative;
    z-index: 3;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.feature-marketing .choose-item:hover .icon {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.feature-marketing .choose-item:hover .icon:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.feature-marketing .choose-item .icon {
    width: 80px;
    height: 80px;
    color: #f6eb14;
    line-height: 80px;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 35px;
    position: relative;
    background: whitesmoke;
    z-index: 3;
    border: 2px dotted #f6eb14;
    -webkit-transition: all .4s;
    transition: all .4s;
    border-radius: 5px;
}

.feature-marketing .choose-item .icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.feature-marketing .choose-item h5 {
    font-weight: 500;
    font-size: 25px;
    font-family: 'kreon', sans-serif;
    margin-bottom: 20px;
}

/*------ width < 991px ------*/
@media (max-width: 991px) {
    .feature-marketing .choose-item p {
        padding: 0 10px;
    }

    .feature-marketing .feature-marketing_title {
        margin-top: 250px;
        padding: 0px;
    }
}

/*------ width < 768px ------*/
@media (max-width: 768px) {
    .feature-marketing .feature-marketing_title {
        margin-top: 20px;
        text-align: center;
    }
}


/* --------------------------------------
  8. why-us
-----------------------------------------*/
.why-us .content-box {
    margin: 20px auto;
    padding: 15px 15px 0 15px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.why-us .why-us-img {
    width: 100%;
    height: 100%;
    background: url("https://www.tiaschools.online/theme/moove/img/why-us.png")no-repeat center;
    background-size: contain;
}

.why-us .content-box-icon i {
    width: 120px;
    height: 120px;
    line-height: 120px;
    display: inline-block;
    font-size: 5rem;
    text-align: center;
    color: #fff;
    background: url("https://www.tiaschools.online/theme/moove/img/why-us-icon.png")no-repeat center;
    background-size: cover;
    position: relative;
}

.why-us .content-box:hover i {
    background: #f6eb14;
    color: #fff;
    -webkit-transition: all .7s ease 0s;
    transition: all .7s ease 0s;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.why-us .content-box h5 {
    font-weight: 400;
    font-size: 22px;
    margin: 20px;
}


/* --------------------------------------
  7. SKILLS
-----------------------------------------*/
.skills-left {
    margin-top: 3rem;
    height: 500px;
    background: url(https://www.tiaschools.online/theme/moove/pix/backgrounds/iTia_1.jpg);
    background-attachment: fixed;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-right: 150px solid #fff;
}

.skills-left {
    padding-left: 50px;
}

/*------ width < 991px ------*/
@media (max-width: 991px) {
    .skills-left {
        padding: 30px;
    }
}


/* --------------------------------------
  16. CONTACT
-----------------------------------------*/
.contact-info {
    margin: 2rem 0 0 0;
    background: whitesmoke;
    padding: 2rem 0 2rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.contact-info i {
    color: #fff;
    background: #f6eb14;
    width: 70px;
    height: 70px;
    display: inline-block;
    line-height: 70px;
    font-size: 25px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    z-index: 1;
}

.contact-info p {
    font-size: 15px;
}

.contact-info h5 {
    font-weight: 700;
    font-size: 16px;
}

.contact-info_text {
    padding-left: 20px;
}

.contact .contact-form input {
    border-radius: .2rem;
}

.contact .contact-form .button {
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
    background: #f6eb14;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: 1px solid #f6eb14;
    border-radius: 2px;
}

.contact .contact-form .button:hover {
    background: #1B2732;
    border: 1px solid #1B2732;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.contact .contact-form {
    margin-top: 30px;
    padding: 5rem;
    background: whitesmoke;
    border-radius: 5px;
}

.contact .form input,
.contact .form textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: #fff;
}

.contact .form input:focus,
.contact .form textarea:focus {
    border: none;
    outline: none;
}

.contact .form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
}

/* --------------------------------------
  17. FOOTER
-----------------------------------------*/
.footer {
    padding: 1rem 0;
    text-align: center;
}

.footet .navbar-brand .logo {
    width: 100%;
    height: 100%;
}

.footer .social-links {
    margin: 2rem 0;
    text-align: center;
}

.footer .social-links ul li {
    display: inline-block;
    padding: 0;
}

.footer .social-links ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
    background: #f6eb14;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    display: inline-block;
    margin: 0 5px;
}

.footer .social-links ul li a:hover {
    color: #f6eb14;
    background: #fff;
    transform: scale(1.2);
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

.copyright h5 {
    font-weight: 400;
}

/*------ width < 600px ------*/
.footer {
    padding: 1rem 0;
}

@media (max-width: 600px) {
    .footer {
        text-align: center;
    }

    .footer h3 {
        margin-top: 10px;
    }
}

    /* Hide Premium High School H1 */
    h1 {
        display: none;
    }

    /* Adjust carousel indicators */
    .carousel-indicators {
        margin-right: 45%;
        margin-left: 45%;
    }

    @media (max-width: 767px) {
        .carousel-indicators {
            display:none;
        }
    }

    /* Adjust Left and Right margin for independent HTML sections */
    .py-16 {
        margin-left : -15px;
        margin-right : -15px;
    }
    .py-8 {
        margin-left : -15px;
        margin-right : -15px;
    }

    /* CSS for automatic horizontal scrolling */
    .logo-scroller {
      animation: scrollLogos 30s linear infinite;

      /* Add styles for mobile to prevent page overflow */
      @media (max-width: 767px) { /* Target screens smaller than md breakpoint */
        white-space: nowrap; /* Prevent items from wrapping */
        /* Optionally, adjust flex properties if needed */
        /* flex-wrap: nowrap; is often default with overflow */
      }
    }

    /* Universities Logos */
    @keyframes scrollLogos {
      0% { transform: translateX(0); }
      100% { transform: translateX(-100%); }
    }
    pause > img {
        width: auto !important;
        height: 100% !important;
    }

    /* Hide the course contents */
    .course-content {
        display : none;
    }

    /* Course Section Title */
    #frontpage-available-course-list h2 {
        padding-top: 4rem;
        padding-bottom: 2rem;
        font-size: 4.8rem;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

    /* Adjust show more course button */
    @media (hover: hover) {
        @supports (color:color-mix(in oklab,black,black)) {
            .btn {
                color: black;
                background-color: #1787fc; /* Darker blue for hover */
                border-color: #1787fc; /* Match border to background */
            }
            .btn:hover {
                background-color: #1787fc;
                border-color: #1787fc;
            }
        }
    }


    /* Auto Scrolling University logos */
    .marquee {
        display: flex;
        block-size: var(--marquee-item-height);
        margin-block: calc(var(--marquee-item-height) * 0.1);
        position: relative;
        overflow-x: hidden;
        mask-image: linear-gradient(
            to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0)
        );
    }

    .marquee--8 {
        align-items: center;
        --marquee-item-width: 150px;
        --marquee-item-height: 150px;
        --marquee-duration: 36s;
        --marquee-items: 9;
    }

    .marquee__item {
        --marquee-item-offset: max(
            calc(var(--marquee-item-width) * var(--marquee-items)),
            calc(100% + var(--marquee-item-width))
        );
        --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
        position: absolute;
        inset-inline-start: var(--marquee-item-offset);
        transform: translateX(-50%);
        animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
    }

    .marquee__item:nth-child(4n) {
        border-top-right-radius: 1rem;
    }

    .marquee__item:nth-child(4n + 1) {
        border-bottom-right-radius: 1rem;
    }

    .marquee__item:nth-child(4n + 2) {
        border-bottom-left-radius: 1rem;
    }

    .marquee__item:nth-child(4n + 3) {
        border-top-left-radius: 1rem;
    }

    .marquee--8 .marquee__item:nth-of-type(1) {
        --marquee-item-index: 1;
    }

    .marquee--8 .marquee__item:nth-of-type(2) {
        --marquee-item-index: 2;
    }

    .marquee--8 .marquee__item:nth-of-type(3) {
        --marquee-item-index: 3;
    }

    .marquee--8 .marquee__item:nth-of-type(4) {
        --marquee-item-index: 4;
    }

    .marquee--8 .marquee__item:nth-of-type(5) {
        --marquee-item-index: 5;
    }

    .marquee--8 .marquee__item:nth-of-type(6) {
        --marquee-item-index: 6;
    }

    .marquee--8 .marquee__item:nth-of-type(7) {
        --marquee-item-index: 7;
    }

    .marquee--8 .marquee__item:nth-of-type(8) {
        --marquee-item-index: 8;
    }

    .marquee--8 .marquee__item:nth-of-type(9) {
        --marquee-item-index: 9;
    }

    @keyframes go {
        to {
            inset-inline-start: calc(var(--marquee-item-width) * -1);
        }
    }

    @media (max-width: 767px) {
        .marquee {
            max-inline-size: 100vw;
            min-height: 70px;
            height: auto;
            padding: 0 8px;
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;
            animation: none !important;
        }
        .marquee__item {
            position: static !important;
            width: 80px !important;
            height: 50px !important;
            min-width: 60px;
            max-width: 100px;
            flex-shrink: 0;
            object-fit: contain;
            animation: none !important;
            margin: 0;
        }
    }

    #mooveslideshow {
        width: calc(100vw - 30px) !important;
        max-width: calc(100vw - 30px) !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #page-site-index.notloggedin #feature {
       background-color: #ffffff;
    }

    .univ-logos {
        background: linear-gradient(rgba(246, 235, 20, 0.4), rgba(246, 235, 20, 0.4)), url("https://www.tiaschools.online/theme/moove/pix/cambridge_bg.png") no-repeat fixed center
    }

    #page-site-index.notloggedin #topofscroll {
        background: linear-gradient(rgba(246, 235, 20, 0.4), rgba(246, 235, 20, 0.4)), url("https://www.tiaschools.online/theme/moove/pix/backgrounds//hero-02.jpg") no-repeat fixed center !important;
        background-size: cover !important;
    }
    #page-site-index.notloggedin #topofscroll #page-content, #page-site-index.notloggedin #topofscroll #region-main {
        background: none !important;
    }
</style>

<body {{{ bodyattributes }}}>
<!-- Scroll to Top -->
<div id="scroll-to-top"><i class="fa fa-arrow-up fa-fw"></i></div>

{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_moove/navbar }}

    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers drag-container bg-white">
        {{#slidercount}}
            <div id="mooveslideshow" class="container-fluid">
                <div id="carousel-indicators" class="carousel slide carousel-fade" data-ride="carousel">
                    {{^slidersingleslide}}
                    <ol class="carousel-indicators">
                        {{#slides}}
                            <li data-target="#carousel-indicators" data-slide-to="{{{ key }}}" {{#active}}class="active"{{/active}}></li>
                        {{/slides}}
                    </ol>
                    {{/slidersingleslide}}
                    <div class="carousel-inner">
                        {{#slides}}
                            <div class="carousel-item {{#active}}active{{/active}}">
                                <img src="{{image}}" alt="{{slidertitle}}" class="w-100">
                                {{#hascaption}}
                                    <div class="carousel-caption d-none d-md-block">
                                        {{#title}}
                                            <h5 class="title">{{.}}</h5>
                                        {{/title}}
                                        {{#caption}}
                                            <div class="caption">
                                                {{{.}}}
                                            </div>
                                        {{/caption}}
                                    </div>
                                {{/hascaption}}
                            </div>
                        {{/slides}}
                    </div>
                    {{^slidersingleslide}}
                    <a class="carousel-control-prev" href="#carousel-indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">{{#str}}previous{{/str}}</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">{{#str}}next{{/str}}</span>
                    </a>
                    {{/slidersingleslide}}
                </div>
            </div>
        {{/slidercount}}

        {{#displaymarketingbox}}
            <section class="feature-marketing bg-[#ffffff]" id="feature">
                <div class="container">
                    <div class="row">
                        <!-- START CHOOSE US LEFT -->
                        <div class="col-lg-5 col-md-6 mx-auto mt-5">
                            <div class="feature-marketing_title">
                                <h2 class="heading-primary mb-5">{{{marketingheading}}}</h2>
                                <p class="mb-5">{{{marketingcontent}}}</p>

                                <!-- START SKILLS LEFT SIDE -->
                                <!--<div class="col-lg-6 skills-left"></div>-->
                                <!-- END SKILLS LEFT SIDE -->

                                <!-- START ABOUT PICTURE -->
                                    <div class="mt-lg-5">
                                        <img src="https://www.tiaschools.online/theme/moove/pix/backgrounds/iTia_1.jpg" alt="about-picture" style="display:block; margin-left:auto; margin-right:auto;" />
                                    </div>
                                <!-- END ABOUT PICTURE -->
                            </div>
                        </div>
                        <!-- END CHOOSE US LEFT -->

                        <!-- START CHOOSE US RIGHT -->
                        <div class="col-lg-7 col-md-6 mx-auto mt-0">
                            <div class="feature-marketing-cont text-center row">
                                {{#marketingboxes}}
                                    <div class="col-lg-6 mx-auto mt-5">
                                        <div class="choose-item">
                                                <div class="icon-lg text-white rounded-circle">
                                                    <img src="{{{icon}}}">
                                                </div>
                                                <h5 >{{{heading}}}</h5>
                                                <p>{{{content}}}</p>
                                        </div>
                                    </div>
                                {{/marketingboxes}}
                            </div>
                        </div>
                        <!-- END CHOOSE US RIGHT -->
                    </div>
                </div>
            </section>
        {{/displaymarketingbox}}

        <!-- Section: University Logos -->
        <section class="univ-logos py-16 bg-[#f6eb14]" style="padding-top: 10rem; padding-bottom: 10rem;">
            <div class="container mx-auto px-4">
            <h3 class="heading-primary text-black text-center">Recognized By Leading Universities</h3>
            <div class="pause">
                <div class="marquee marquee--8">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo1.png" alt="University Logo 1"  class="marquee__item" width="125" height="125">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo2.png" alt="University Logo 2"  class="marquee__item" width="125" height="125">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo3.png" alt="University Logo 3"  class="marquee__item" width="125" height="125">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo4.png" alt="University Logo 4"  class="marquee__item" width="125" height="125">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo5.png" alt="University Logo 5"  class="marquee__item" width="125" height="125">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo6.png" alt="University Logo 6"  class="marquee__item" width="125" height="125">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo7.png" alt="University Logo 7"  class="marquee__item" width="125" height="125">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo8.jpg" alt="University Logo 8"  class="marquee__item" width="125" height="125">
                <img src="https://www.tiaschools.online/theme/moove/pix/university_logo/logo9.png" alt="University Logo 9"  class="marquee__item" width="125" height="125">
                </div>
            </div>

            </div>
        </section>

        <!-- Section: Why Choose TIA? -->
        <section class="why-us mt-40 bg-[#ffffff]">
            <div class="container">
                <!-- START why-us SECTION TITLE -->
                <div class="why-us_title text-center">
                    <h2 class="heading-primary text-center mb-5">Why Choose TIA?</h2>
                    <p class="mb-5"></p>
                </div>
                <!-- END why-us SECTION TITLE -->

                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-10 mx-auto">
                        <div class="row">

                            <!--START CONTENT BOX -->
                            <div class="col-lg-12 col-md-6 col-sm-10 mx-auto">
                                <div class="content-box text-center">
                                    <div class="content-box-icon">
                                        <i class="fa fa-line-chart fa-2x"></i>
                                    </div>
                                    <h5 class="heading-secondary">Proven Track Record</h5>
                                    <p>
                                        TIA is a Ministry-inspected private high school with a proven track record of excellence since 2004. Backed by solid data and student success stories, we offer premium online education tailored to today's learners.
                                    </p>
                                </div>
                            </div>
                            <!--END CONTENT BOX -->

                            <!--START CONTENT BOX -->
                            <div class="col-lg-12 col-md-6 col-sm-10 mx-auto">
                                <div class="content-box text-center">
                                    <div class="content-box-icon">
                                        <i class="fa fa-clock-o fa-2x"></i>
                                    </div>
                                    <h5 class="heading-secondary">Flexible Schedule</h5>
                                    <p>
                                        Learn at your own pace with your teacher support. 24/7 help is available via Telegram and email messages. For optimal results, we recommend following our suggested timeline.
                                    </p>
                                </div>
                            </div>
                            <!--END CONTENT BOX -->
                        </div>
                        <!--END CONTENT BOX -->
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-10 mx-auto">
                        <div class="row">

                            <!--START CONTENT BOX -->
                            <div class="col-lg-12 col-md-6 col-sm-10 mx-auto">
                                <div class="content-box text-center">
                                    <div class="content-box-icon">
                                        <i class="fa fa-university fa-2x"></i>
                                    </div>
                                    <h5 class="heading-secondary">Impeccable University Acceptance</h5>
                                    <p>
                                        95% of our graduates get accepted to top universities worldwide, and 2/3 of them receive scholarship offers.
                                    </p>
                                </div>
                            </div>
                            <!--END CONTENT BOX -->

                            <!--START CONTENT BOX -->
                            <div class="col-lg-12 col-md-6 col-sm-10 mx-auto">
                                <div class="content-box text-center">
                                    <div class="content-box-icon">
                                        <i class="fa fa-graduation-cap fa-2x"></i>
                                    </div>
                                    <h5 class="heading-secondary">Over 70 Online Credit Courses</h5>
                                    <p>
                                        Our extensive online courses focus on key academic subjects and are designed to prepare students for university and colleges by building essential skills and knowledge.
                                    </p>
                                </div>
                            </div>
                            <!--END CONTENT BOX -->
                        </div>
                        <!--END CONTENT BOX -->
                    </div>

                    <!--
                    <div class="col-lg-4 col-md-12 col-sm-10 mx-auto">
                        <div class="why-us-img"></div>
                    </div>
                    -->

                    <div class="col-lg-4 col-md-12 col-sm-10 mx-auto">
                        <div class="row">

                            <!--START CONTENT BOX -->
                            <div class="col-lg-12 col-md-6 col-sm-10 mx-auto">
                                <div class="content-box text-center">
                                    <div class="content-box-icon">
                                        <i class="fa fa-comments-o fa-2x"></i>
                                    </div>
                                    <h5 class="heading-secondary">Real Time Support</h5>
                                    <p>
                                        Our Online platform is managed by a dedicated team of E-School teachers and counsellors. Students receive personalized, asynchronous one-on-one support throughout their learning journey.
                                    </p>
                                </div>
                            </div>
                            <!--END CONTENT BOX -->

                            <!--START CONTENT BOX -->
                            <div class="col-lg-12 col-md-6 col-sm-10 mx-auto">
                                <div class="content-box text-center">
                                    <div class="content-box-icon">
                                        <i class="fa fa-users fa-2x"></i>
                                    </div>
                                    <h5 class="heading-secondary">Easy Transition from Online to In-Person</h5>
                                    <p>
                                        At TIA, students can seamlessly transition from online learning to in-person classes. We offer flexible options to combine E-School and in-class courses to suit each student's unique academic plan.
                                    </p>
                                </div>
                            </div>
                            <!--END CONTENT BOX -->
                        </div>
                        <!--END CONTENT BOX -->
                    </div>
                </div>
            </div>
        </section>

        {{#displayuniversitylogo}}
            <section id="feature">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 my-3">
                            <h3 class="h1 mt-3 mb-3">{{{universityheading}}}</h3>
                            <div class="university-content">{{{universitycontent}}}</div>
                        </div>
                        <div class="col-lg-8 ps-xl-8">
                            <div class="row">
                                {{#universitylogos}}
                                    <div class="col-sm-6 mt-4">
                                        <div class="card card-body shadow">
                                            <div class="d-flex">
                                                <div class="icon-lg text-white rounded-circle">
                                                    <img src="{{{icon}}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/universitylogos}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {{/displayuniversitylogo}}

        {{#numbersfrontpage}}
            <section id="numbers">
                <div class="moove-container-fluid">
                    <div class="row customer-area-l1 justify-content-center align-items-center ">
                        <div class="col-xl-5 col-lg-5 col-md-10">
                            <div class="sectionheading">
                                {{{numberscontent}}}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 col-md-10 offset-xl-1">
                            <div class="row user-rating-box-area">
                                <div class="col-sm-6 col-xs-8">
                                    <div class="h-100 rate-box bg-primary">
                                        <h3>
                                            2{{{numbersusers}}}
                                        </h3>
                                        <p>{{#str}}numbersusers, theme_moove{{/str}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-8">
                                    <div class="h-100 rate-box rate-box-2 bg-cloudburst">
                                        <h3>
                                            {{{numberscourses}}}
                                        </h3>
                                        <p>{{#str}}numberscourses, theme_moove{{/str}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {{/numbersfrontpage}}

        <div id="topofscroll" style="margin-top:40px">
            <div id="page-content" class="d-print-block main-inner">
                <div id="region-main-box">
                    <section id="region-main" aria-label="{{#str}}content{{/str}}">
                        {{{ output.course_content_header }}}
                        {{{ output.main_content }}}
                        {{{ output.course_content_footer }}}
                    </section>
                </div>
            </div>
        </div>

        {{#faqenabled}}
            <section id="faq" class="scale-up scale-up-show">
                <div class="moove-container-fluid">
                    <h2>{{#str}}faq, theme_moove{{/str}}</h2>

                    <div class="accordion" id="accordionFaq">
                        {{#faq}}
                            <div class="card shadow">
                                <div class="card-header" id="heading-{{{id}}}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-{{{id}}}" aria-expanded="false" aria-controls="collapse-{{{id}}}">
                                            {{{question}}}
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapse-{{{id}}}" class="collapse" aria-labelledby="heading-{{{id}}}" data-parent="#accordionFaq">
                                    <div class="card-body">
                                        {{{answer}}}
                                    </div>
                                </div>
                            </div>
                        {{/faq}}
                    </div>
                </div>
            </section>
        {{/faqenabled}}


        <!-- Footer -->
        <footer class="bg-[#000000] text-[#FAED23] py-8">
            <div class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between">
                <div class="flex items-center space-x-2 md:mb-0">
                    <img src="https://static.showit.co/200/Gsh00icqQnqzC2LilPTpPQ/188378/tia-logo.png" alt="TIA logo" class="h-8 w-auto" />
                    <span class="font-bold text-lg">Toronto International Academy</span>
                </div>
                <div class="text-s">
                    905-615-1011 &nbsp;|&nbsp; info@tiaschools.com
                </div>
                <div class="text-sm md:mt-0">
                    © 2025 Toronto International Academy. All rights reserved.
                </div>
            </div>
        </footer>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const elementToRemove = document.querySelector('.drawer.drawer-left.drawer-primary.d-print-none');
  if (elementToRemove) {
    elementToRemove.remove();
  }
});
</script>

<!-- coustom js -->
<script src="https://www.tiaschools.online/theme/moove/js/main.js"></script>
</body>
</html>

{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
